header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header .headerInfo {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: var(--primary);
}

.headerInfo .logo {
  margin: 5px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: none;
}

.headerInfo .logo img {
  object-fit: cover;
  height: 100%;
}

.headerInfo .headerText {
  color: var(--background);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.headerText h1 {
  font-family: Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 28px;
  margin: 2vh;
}

.headerText h1 a {
  color: var(--background);
  text-decoration: none;
}

header div.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  font-family: Calibri, Candara, Arial, sans-serif;
  border-bottom: 1px solid var(--primary);
}


header div.menu div {
  width: 100%;
  display: flex;
  flex: 1;
}

div.menu div a {
  flex: 1;
  font-size: large;
  width: max-content;
  padding: 3px;
  border-right: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  color: var(--background);
  text-decoration: none;
}

div.menu a:hover {background-color: var(--accent)}