:root {
  --primary: #054279;
  --secondary: #44a3fa;
  --background: #ecf7ff;
  --accent: #f7a62d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  height: 100%;
  width: 100%;
}

html body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

html body main {
  z-index: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vh 0px auto 0px;
  font-family: Calibri, Candara, Arial, sans-serif;
}

main section {
  margin: 1vh 3vw;
}

main section img.classroom {
  border-radius: 8px;
  width: 80vw;
  height: auto;
  margin: 3vh 4vw;
}

main section img.logo {
  border-radius: 50%;
  width: 55vw;
  height: auto;
  margin: 3vh 4vw;
}

main div.areas {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

main div {
  max-width: 90%;
}

main div.areas section {
  flex: 1;
}

main section h1 {
  margin: 10px 45px 15px 45px;
  font-size: 40px;
  color: var(--primary);
}

main p {
  font-size: large;
  text-align: justify;
  margin: 8px auto;
  max-width: 84%;
}

main p strong {
  color: var(--primary);
}

main section p a {
  color: var(--primary);
  text-decoration: none;
}

main section p a:hover {
  color: var(--accent);
}

main section p a:visited {
  color: var(--secondary);
}

main section ul li a {
  color: var(--primary);
  text-decoration: none;
}

main section ul li a:hover {
  color: var(--accent);
}

main section ul li a:visited {
  color: var(--secondary);
}

section div {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: 1fr;
  width: 100%;
}

section ul {
  list-style-type: none;
  padding: 0;
  margin: 3vh 5vw;
  font-size: large;
}

section ul li {
  max-width: 78%;
  padding: 10px;
  margin: auto;
  text-align: justify;
}

main ul li strong {
  color: var(--primary);
}

section ul.bullet {
  margin: 2vh 3vw;
}

section ul.bullet li {
  padding: 6px;
}

section ul.bullet li::before {
  content: "\2022";
  width: 1em;
  font-weight: bold;
  display: inline-block;
  color: var(--primary);
}


section div span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 8px;
}

section div span div {
  flex: 1;
  margin: 0px auto;
  align-items: center;
  justify-items: center;
  gap: 0px;
}

section div span h3 {
  flex: 1;
  font-family: Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 22px;
  margin: 5px auto;
}

section div span a {
  flex: 1;
  font-family: Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  margin: 3px auto;
  text-decoration: none;
  color: var(--primary);
}

section div span div a {
  flex: none;
  width: 30px;
}

section div span a:hover {
  color: var(--accent);
}

section div span a:visited {
  color: var(--secondary);
}

div span img {
  flex: 1;
  max-width: 90%;
  height: auto;
}

div span p {
  flex: 1;
  font-size: 15px;
  margin: 3px auto;
}

section h2 {
  margin: 12px 2vw 9px 2vw;
  color: var(--primary);
  font-style: italic;
  font-size: 30px;
}