:root {
  --primary: #054279;
  --secondary: #44a3fa;
  --background: #ecf7ff;
  --accent: #f7a62d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  height: 100%;
  width: 100%;
}

html body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

html body main {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  margin: auto 0px;
  font-family: Calibri, Candara, Arial, sans-serif;
}

main section {
  margin: 1vh 15vw;
}

main section h1 {
  margin: 15px 45px 15px 45px;
  font-size: 40px;
  color: var(--primary);
}

main section a {
  color: var(--primary);
  text-decoration: none;
}

main section a:hover {
  color: var(--accent);
}

main section a:visited {
  color: var(--secondary);
}

section div {
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: 1fr;
  width: 100%;
}

section ul {
  list-style-type: none;
  font-size: large;
  margin: 5px;
  padding: 0;
}

section ul li {
  margin: 2px;
}

section div span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 8px;
}

div span h3 {
  font-family: Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 22px;
  margin: 5px;
}

div span a {
  font-family: Calibri, Candara, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  margin: 3px;
  text-decoration: none;
  color: var(--primary);
}

div span a:hover {
  color: var(--accent);
}

div span img {
  width: 250px;
  height: 300px;
}

main p {
  font-size: large;
  text-align: justify;
  margin: 4px;
}

section h2 {
  margin: 15px 45px 8px 45px;
  color: var(--primary);
  font-style: italic;
  font-size: 30px;
}