@media screen and (min-width: 440px) {

}

@media screen and (min-width: 500px) {
	.headerInfo .logo {
		display: inline;
	}

	header .headerInfo {
			grid-template-columns: 1fr 3fr 1fr;
	}
}

@media screen and (min-width: 550px) {  
  header .menu {
		display: flex;
		align-items: center;
		justify-content: center;
  }
  
  .menu a {
		padding: 5px;
		border-top: none;
  }

}

@media screen and (min-width: 720px) {
	section div {
		grid-template-columns: repeat(3, 1fr);
	}

  .headerText h1 {
    font-size: 34px;
  }

	main div {
		flex-direction: row;
	}

}

@media screen and (min-width: 950px) {

}


@media screen and (min-width: 1200px) {

}