@media screen and (min-width: 440px) {

}

@media screen and (min-width: 500px) {
	.headerInfo .logo {
		display: inline;
	}

	header .headerInfo {
			grid-template-columns: 1fr 7fr 1fr;
	}

	.headerText h1 {
		font-size: 40px;
	}
}

@media screen and (min-width: 600px) { }

@media screen and (min-width: 720px) {

	header div.menu {
		flex-direction: row;
  }
  
	header div.menu div {
		width: fit-content;
		display: flex;
		flex: 100;
	}

	header div.menu div.first {
		flex-direction: row-reverse;
		flex: 93;
	}

	div.menu div a.first-a  {
		border-left: 1px solid var(--primary);
	}

  header div.menu div a {
		min-width: 64px;
		width: fit-content;
		display: inline-block;
		flex: none;
		border-top: none;
		padding: 5px 8px;
  }

	section div {
		grid-template-columns: repeat(3, 1fr);
	}

  .headerText h1 {
    font-size: 48px;
  }

	main div.areas {
		flex-direction: row;
	}

	main section img.classroom {
		width: 65vw;
	}

	main section img.logo {
		width: 42vw;
	}

}

@media screen and (min-width: 950px) {
	main section img.classroom {
		width: 55vw;
	}

	main section img.logo {
		width: 27vw;
	}
}


@media screen and (min-width: 1200px) {
	main section img.classroom {
		width: 45vw;
	}

	main section img.logo {
		width: 18vw;
	}
}